Repository khawkins/mobile-mcp-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings=0

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --check", "eslint --max-warnings=0"],
  "*.{json,md}": ["prettier --check"]
}

Adding repo documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.txt
  SECURITY.md
  packages/mobile-web/package.json
Due: prettier --check

License typo
  LICENSE.txt
Due: none

Name updates
  package-lock.json
  packages/mobile-web/package.json
Due: prettier --check

type declarations from lightning-types.
  .lintstagedrc.json
  .prettierrc
  packages/mobile-web/resources/BaseCapability.d.ts
  packages/mobile-web/resources/appReview/appReviewService.d.ts
  packages/mobile-web/resources/arSpaceCapture/arSpaceCapture.d.ts
  packages/mobile-web/resources/barcodeScanner/barcodeScanner.d.ts
  packages/mobile-web/resources/biometrics/biometricsService.d.ts
  packages/mobile-web/resources/calendar/calendarService.d.ts
  packages/mobile-web/resources/contacts/contactsService.d.ts
  packages/mobile-web/resources/documentScanner/documentScanner.d.ts
  packages/mobile-web/resources/geofencing/geofencingService.d.ts
  packages/mobile-web/resources/location/locationService.d.ts
  packages/mobile-web/resources/mobileCapabilities.d.ts
  packages/mobile-web/resources/nfc/nfcService.d.ts
  packages/mobile-web/resources/payments/paymentsService.d.ts
Due: prettier --check, eslint --max-warnings=0

server tools.
  packages/mobile-web/src/tools/appReview/server.ts
  packages/mobile-web/src/tools/arSpaceCapture/server.ts
  packages/mobile-web/src/tools/barcodeScanner/server.ts
  packages/mobile-web/src/tools/biometrics/server.ts
  packages/mobile-web/src/tools/calendar/server.ts
  packages/mobile-web/src/tools/contacts/server.ts
  packages/mobile-web/src/tools/documentScanner/server.ts
  packages/mobile-web/src/tools/geofencing/server.ts
  packages/mobile-web/src/tools/index.ts
  packages/mobile-web/src/tools/location/server.ts
  packages/mobile-web/src/tools/nfc/server.ts
  packages/mobile-web/src/tools/payments/server.ts
Due: prettier --check, eslint --max-warnings=0

runnable from MCP inspector.
  packages/mobile-web/src/tools/index.ts
Due: prettier --check, eslint --max-warnings=0

add constant context.
  packages/mobile-web/src/constants/data.ts
Due: prettier --check, eslint --max-warnings=0

moar updates.
  package.json
  packages/mobile-web/src/index.test.ts
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/tools/appReview/server.test.ts
  packages/mobile-web/tests/tools/appReview/tool.test.ts
  packages/mobile-web/tests/tools/arSpaceCapture/server.test.ts
  packages/mobile-web/tests/tools/arSpaceCapture/tool.test.ts
  packages/mobile-web/tests/tools/barcodeScanner/server.test.ts
  packages/mobile-web/tests/tools/barcodeScanner/tool.test.ts
  packages/mobile-web/tests/tools/biometrics/server.test.ts
  packages/mobile-web/tests/tools/biometrics/tool.test.ts
  packages/mobile-web/tests/tools/calendar/server.test.ts
  packages/mobile-web/tests/tools/calendar/tool.test.ts
  packages/mobile-web/tests/tools/contacts/server.test.ts
  packages/mobile-web/tests/tools/contacts/tool.test.ts
  packages/mobile-web/tests/tools/documentScanner/server.test.ts
  packages/mobile-web/tests/tools/documentScanner/tool.test.ts
  packages/mobile-web/tests/tools/geofencing/server.test.ts
  packages/mobile-web/tests/tools/geofencing/tool.test.ts
  packages/mobile-web/tests/tools/location/server.test.ts
  packages/mobile-web/tests/tools/location/tool.test.ts
  packages/mobile-web/tests/tools/nfc/server.test.ts
  packages/mobile-web/tests/tools/nfc/tool.test.ts
  packages/mobile-web/tests/tools/payments/server.test.ts
  packages/mobile-web/tests/tools/payments/tool.test.ts
  packages/mobile-web/tests/utils/util.test.ts
Due: prettier --check, eslint --max-warnings=0

fix tests.
  package.json
  packages/mobile-web/package.json
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/tools/appReview/tool.test.ts
  packages/mobile-web/tests/tools/arSpaceCapture/tool.test.ts
  packages/mobile-web/tests/tools/barcodeScanner/tool.test.ts
  packages/mobile-web/tests/tools/biometrics/tool.test.ts
  packages/mobile-web/tests/tools/calendar/tool.test.ts
  packages/mobile-web/tests/tools/contacts/tool.test.ts
  packages/mobile-web/tests/tools/documentScanner/tool.test.ts
  packages/mobile-web/tests/tools/geofencing/tool.test.ts
  packages/mobile-web/tests/tools/location/tool.test.ts
  packages/mobile-web/tests/tools/nfc/tool.test.ts
  packages/mobile-web/tests/tools/payments/tool.test.ts
Due: prettier --check, eslint --max-warnings=0

debugger in launch.json and update README.
  .vscode/launch.json
  README.md
Due: prettier --check

Update README.md
  README.md
Due: prettier --check

feat: add update-type-declarations script
  packages/mobile-web/package.json
  packages/mobile-web/src/scripts/update-type-declarations.ts
  packages/mobile-web/tsconfig.json
Due: prettier --check, eslint --max-warnings=0

stop prettifying resources folder.
  .eslintignore
  .lintstagedrc.json
  .prettierignore
  packages/mobile-web/resources/appReview/appReviewService.d.ts
  packages/mobile-web/resources/arSpaceCapture/arSpaceCapture.d.ts
  packages/mobile-web/resources/barcodeScanner/barcodeScanner.d.ts
  packages/mobile-web/resources/biometrics/biometricsService.d.ts
  packages/mobile-web/resources/calendar/calendarService.d.ts
  packages/mobile-web/resources/contacts/contactsService.d.ts
  packages/mobile-web/resources/documentScanner/documentScanner.d.ts
  packages/mobile-web/resources/geofencing/geofencingService.d.ts
  packages/mobile-web/resources/location/locationService.d.ts
  packages/mobile-web/resources/mobileCapabilities.d.ts
  packages/mobile-web/resources/nfc/nfcService.d.ts
  packages/mobile-web/resources/payments/paymentsService.d.ts
Due: prettier --check, eslint --max-warnings=0

update tests.
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/tests/tools/appReview/tool.test.ts
  packages/mobile-web/tests/tools/arSpaceCapture/tool.test.ts
  packages/mobile-web/tests/tools/barcodeScanner/tool.test.ts
  packages/mobile-web/tests/tools/biometrics/tool.test.ts
  packages/mobile-web/tests/tools/calendar/tool.test.ts
  packages/mobile-web/tests/tools/contacts/tool.test.ts
  packages/mobile-web/tests/tools/documentScanner/tool.test.ts
  packages/mobile-web/tests/tools/geofencing/tool.test.ts
  packages/mobile-web/tests/tools/location/tool.test.ts
  packages/mobile-web/tests/tools/nfc/tool.test.ts
  packages/mobile-web/tests/tools/payments/tool.test.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
Due: prettier --check, eslint --max-warnings=0

only check on lintstaged.
  .lintstagedrc.json
Due: prettier --check

Update packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/appReview/tool.ts
Due: prettier --check, eslint --max-warnings=0

Update packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
Due: prettier --check, eslint --max-warnings=0

update after code review.
  .vscode/launch.json
  README.md
  nx.jsonc
  package-lock.json
  package.json
  packages/mobile-web/package.json
  packages/mobile-web/src/constants/data.ts
  packages/mobile-web/src/index.ts
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/test-utils.ts
  packages/mobile-web/tests/tools/appReview/tool.test.ts
  packages/mobile-web/tests/tools/arSpaceCapture/tool.test.ts
  packages/mobile-web/tests/tools/barcodeScanner/tool.test.ts
  packages/mobile-web/tests/tools/biometrics/tool.test.ts
  packages/mobile-web/tests/tools/calendar/tool.test.ts
  packages/mobile-web/tests/tools/contacts/tool.test.ts
  packages/mobile-web/tests/tools/documentScanner/tool.test.ts
  packages/mobile-web/tests/tools/geofencing/tool.test.ts
  packages/mobile-web/tests/tools/location/tool.test.ts
  packages/mobile-web/tests/tools/nfc/tool.test.ts
  packages/mobile-web/tests/tools/payments/tool.test.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
  packages/mobile-web/tests/utils/util.test.ts
  tsconfig.base.json
Due: prettier --check, eslint --max-warnings=0

added base capability in the context.
  packages/mobile-web/resources/data-const.ts
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
  packages/mobile-web/tests/utils/util.test.ts
Due: prettier --check, eslint --max-warnings=0

delete data constant.
  packages/mobile-web/resources/data-const.ts
Due: prettier --check, eslint --max-warnings=0

refactor.
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
Due: prettier --check, eslint --max-warnings=0

another refactor.
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/test-utils.ts
  packages/mobile-web/tests/utils/util.test.ts
Due: prettier --check, eslint --max-warnings=0

add code coverage.
  package-lock.json
  package.json
  packages/mobile-web/package.json
  packages/mobile-web/project.json
  packages/mobile-web/project.jsonc
  packages/mobile-web/vitest.config.mts
  project.json
Due: prettier --check

nit from previous PR.
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/utils/util.test.ts
Due: prettier --check, eslint --max-warnings=0

feat: add lint tool
  packages/mobile-web/src/index.ts
  packages/mobile-web/src/tools/Tool.ts
  packages/mobile-web/src/tools/appReview/tool.ts
  packages/mobile-web/src/tools/arSpaceCapture/tool.ts
  packages/mobile-web/src/tools/barcodeScanner/tool.ts
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/src/tools/biometrics/tool.ts
  packages/mobile-web/src/tools/calendar/tool.ts
  packages/mobile-web/src/tools/contacts/tool.ts
  packages/mobile-web/src/tools/documentScanner/tool.ts
  packages/mobile-web/src/tools/geofencing/tool.ts
  packages/mobile-web/src/tools/lintTool.ts
  packages/mobile-web/src/tools/location/tool.ts
  packages/mobile-web/src/tools/nfc/tool.ts
  packages/mobile-web/src/tools/payments/tool.ts
  packages/mobile-web/src/utils/util.ts
Due: prettier --check, eslint --max-warnings=0

feat: add komaci review tool
  .vscode/launch.json
  package-lock.json
  package.json
  packages/mobile-web/package.json
  packages/mobile-web/resources/appReview/appReviewService.d.ts
  packages/mobile-web/resources/arSpaceCapture/arSpaceCapture.d.ts
  packages/mobile-web/resources/barcodeScanner/barcodeScanner.d.ts
  packages/mobile-web/resources/biometrics/biometricsService.d.ts
  packages/mobile-web/resources/calendar/calendarService.d.ts
  packages/mobile-web/resources/contacts/contactsService.d.ts
  packages/mobile-web/resources/documentScanner/documentScanner.d.ts
  packages/mobile-web/resources/geofencing/geofencingService.d.ts
  packages/mobile-web/resources/location/locationService.d.ts
  packages/mobile-web/resources/mobileCapabilities.d.ts
  packages/mobile-web/resources/nfc/nfcService.d.ts
  packages/mobile-web/resources/payments/paymentsService.d.ts
  packages/mobile-web/src/tools/lintTool.ts
  packages/mobile-web/src/utils/staticReview.ts
  packages/mobile-web/src/utils/util.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
Due: prettier --check, eslint --max-warnings=0

fix: resolve debug issue, tool description issue and tool resource issue
  .gitignore
  .prettierignore
  .vscode/launch.json
  package-lock.json
  packages/mobile-web/src/tools/baseTool.ts
  packages/mobile-web/tests/utils/tool-test-helper.ts
Due: prettier --check, eslint --max-warnings=0

fix: add .sfdx to gitignore
  .gitignore
  packages/mobile-web/src/tools/lintTool.ts
Due: prettier --check, eslint --max-warnings=0

fix: remove un-used ts file
  packages/mobile-web/src/utils/util.ts
Due: prettier --check, eslint --max-warnings=0

chore: export LwcCodeSchema
  packages/mobile-web/src/utils/staticReview.ts
Due: prettier --check, eslint --max-warnings=0

fix: finalize 'resources' directory location
  packages/mobile-web/package.json
Due: prettier --check

fix: use 'LWCCodeSchema' as input schema
  packages/mobile-web/src/tools/lintTool.ts
  packages/mobile-web/src/utils/staticReview.ts
Due: prettier --check, eslint --max-warnings=0

workflows.
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/run-tests.yml
  CODEOWNERS
Due: prettier --check

eslint.config.js
  .eslintignore
  eslint.config.js
Due: prettier --check, eslint --max-warnings=0

npm cache.
  .github/workflows/run-tests.yml
Due: none

fix test to work on Windows.
  eslint.config.js
Due: prettier --check, eslint --max-warnings=0

upload coverage.
  .github/workflows/run-tests.yml
Due: none

coverage per subproject. badges.
  .codecov.yml
  .github/workflows/run-tests.yml
  README.md
Due: prettier --check

fix codeowners.
  CODEOWNERS
Due: none
